@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope';
    color: #fff;
}

i {
    font-size: 1.5em;
}

.active {
    color: #dc143c;
}

.none {
    display: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.space {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 4vw;
}

body {
    background-color: #000;
    position: relative;
    display: flex;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}

#menu {
    position: absolute;
}

#themeToggle {
    position: absolute;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#music {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    gap: 30px;
}

#musicPhoto {
    overflow: hidden;
    border-radius: 100%;
    width: 400px;
    height: 400px;
    padding: 10px;
    background-color: #424242;
    display: flex;
    justify-content: center;
    align-items: center;
}

#musicPhoto #photo {
    border-radius: 100%;
    width: 390px;
}

#progressbar {
    background-color: #424242;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    overflow: hidden;
}

#progress {
    height: 100%;
    width: 5%;
    background-color: #00ff48;
}

i#pauseButton {
    background-color: #424242;
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

#animate {
    background-color: #dc143c;
    width: 40px;
    height: 500px;
}