@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope";
  transition: all .3s ease-in-out;
}

.dark .cor {
  color: #00ff48;
}

.cor {
  color: #000;
}

#radial {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-color: #424242;
  border-radius: 100%;
  filter: blur(15vw);
  position: absolute;
  width: 40vw;
  height: 40vw;
}

#counter {
  position: absolute;
  bottom: 20px;
}

.dark #radial {
  background-color: transparent;
}

.dark {
  color: #fff;
  background-color: #000;
}

.dark label span:nth-child(1),
.dark label span:nth-child(2),
.dark label span:nth-child(3) {
  background-color: #fff;
}

.red {
  color: #dc143c;
}

.yellow {
  color: #ffe600;
}

.blue {
  color: #9fffea;
}

.orange {
  color: #ff9028;
}

i {
  font-size: 1.5em;
  cursor: pointer;
}

h3 {
  font-size: 1.5em;
}


input {
  border: none;
  border-bottom: 2px solid #00ff48;
  border-radius: 2px;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background-color: transparent;
}

input[type="submit"] {
  margin-top: 30px;
  background-color: #00ff48;
  border-radius: 5px;
  font-weight: bold;
  color: #1a1a1a;
}

.none {
  display: none;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 4vw;
}

body {
  position: relative;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

#points {
  display: flex;
  position: absolute;
  right: 20px;
  bottom: 20px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}

#rank {
  display: flex;
  position: absolute;
  left: 20px;
  bottom: 20px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#menu {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  z-index: 1;
}

#into {
  display: none;
  border-radius: 0 10px 10px 10px;
  padding: 10px;
  flex-direction: column;
  background-color: #eee;
  margin-top: 25px;
  position: absolute;
}

.open #into {
  display: flex;
}

.open#menu {
  display: block;
}

.open #menu1 {
  width: 20px;
  transform: rotate(45deg);
}

.open #menu2 {
  margin-top: -3px;
  width: 20px;
  transform: rotate(-45deg);
}

.open #menu3 {
  background-color: transparent;
}

#menu1 {
  background-color: #fff;
  height: 3px;
  width: 20px;
}

#menu2 {
  background-color: #fff;
  height: 3px;
  width: 17px;
}

#menu3 {
  background-color: #fff;
  width: 19px;
  height: 3px;
}

#themeToggle {
  position: absolute;
  left: 20px;
  top: 20px;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

#music {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  gap: 30px;
}

#musicPhoto {
  overflow: hidden;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  padding: 10px;
  background-color: #424242;
  display: flex;
  justify-content: center;
  align-items: center;
}

#musicPhoto #photo {
  border-radius: 100%;
  width: 390px;
  z-index: 1;
}

#progressbar {
  background-color: #424242;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  overflow: hidden;
}

#progress {
  height: 100%;
  width: 5%;
  background-color: #00ff48;
}

i#pauseButton {
  background-color: #00ff48;
  color: #1a1a1a;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

#back {
  background-color: #00ff48;
  position: absolute;
  width: 40px;
  height: 500px;
}

.animate {
  animation: animate 4s linear infinite;
}

#back.animate {
  animation: animate 2s linear infinite;
}

.overflow {
  position: absolute;
  overflow: hidden;
  border-radius: 100%;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}